.carousel-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.carousel-image {
  max-height: 60vh; 
  max-width: 90vw; 
  width: auto;
  height: auto;
  margin: auto; 
}


.carousel-caption {
  background-color: #735da5af;
  color: rgba(255, 255, 255, 0.856); 
  text-align: center; 
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Rubik, sans-serif;
}


.caption-content {
  max-width: 600px; 
  margin: 0 auto; 
  font-family: "'Rubik', sans-serif";
}