.App {
  text-align: center;
  background: repeating-linear-gradient( #a58ce0, #735DA5);
  font-family: "'Rubik, Lato, sans-serif's";
  /* background-color: white; */

}



/* background: linear-gradient(25deg, #735DA5 30%,white  80%,#a58ce0 20%); */